.header {
    display: grid;
    grid-template-columns: minmax(1.6rem, 1fr) repeat(10, minmax(0, 12rem)) minmax(1.6rem, 1fr);
    align-content: center;

    border-bottom: 1px solid #E7E7E7;
}

.header > * {
    grid-column: 2 / -2;
}

.logo {
    grid-column: 2 / 6;

    width: 100px;
    height: 100px;
    z-index: 10;
}

.toggle,
.toggleOpen {
    grid-column: 11/-2;

    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    cursor: pointer;
    align-self: center;
}

.toggle div,
.toggleOpen div {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 1px;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.toggleOpen div:nth-child(2) {
    opacity: 0;
}

.toggleOpen div:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.toggleOpen div:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.menu {
    background-color: #EDEDED;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: calc(100vh);
    text-align: center;
    padding: 133px 0 2rem 0;
    transition: all 0.3s;
}

.menuShow {
    background-color: #EDEDED;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh);
    text-align: center;
    padding: 133px 0 2rem 0;
    transition: all 0.3s;
}

.nav__list {
    padding-top: 2rem;
}

.nav__list li {
    padding: 1.2rem 0;
}

.nav__list li a {
    color: #212121;
    text-decoration: none;
    font-size: 1.6rem;
}

.nav__list .button a {
    background-color: #FFA858;
    padding: 1.2rem 2.4rem;
    display: inline-block;
    border-radius: 4px;
    color: #FFFF;
    font-weight: 600;
    margin-left: 0rem;
}




@media screen and (min-width: 768px) {
    .toggle,
    .toggleOpen {
        display: none;
    }

    .menu {
        grid-column: 6/-2;
        margin-left: auto;

        position: initial;
        top: 0;
        right: 0;
        width: initial;
        height: initial;
        padding: initial;
        background: initial;
        text-align: right;
    }

    .nav__list {
        display: flex;
        flex-wrap: wrap;
        top: 0;
        align-items: center;
    }

    .nav__list li {
        margin: 0 1.2rem;
        font-size: 14px;
    }
    .nav__list li:last-child {
        margin-right: 0;
    }

    .nav__list .button a {
        margin-left: 2rem;
    }
}