.hero {
    display: grid;
    grid-template-columns: minmax(1.8rem, 1fr) repeat(10, minmax(0, 12rem)) minmax(1.8rem, 1fr);
    gap: 2rem;

    padding: 3rem 0;
}

.hero > * {
    grid-column: 2 / -2;
}

.title {
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
}

.text {
    line-height: 2.4rem;
}

.button {
    background-color: #FFA858;
    padding: 1.2rem 2.4rem;
    display: inline-block;
    border-radius: 4px;
    color: #FFFF;
    font-weight: 600;
    margin: 2rem 0;
}

.media {
    grid-column: 1 / -1;
}