.offers {
    display: grid;
    grid-template-columns: minmax(1.6rem, 1fr) repeat(10, minmax(0, 12rem)) minmax(1.6rem, 1fr);
}

.offers > * {
    grid-column: 2 / -2;
}

.heading {
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
    line-height: 1.4;
}

.leading {
    font-size: 1.8rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;

    margin: 3rem 0;
}

.item {
    color: #212427;
}

.image {
    width: auto;
    height: 180px;
    padding-bottom: 2.8rem;;
}

.title {
    padding-bottom: 1.6rem;
    font-size: 2.4rem;
}

.text {
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}